@charset "utf-8";

#container{}

/*서브배너*/

.sub_banner{
    background:url(../images/sub/sub_banner.png)no-repeat center center;
    background-size:cover;
    height:445px;
    text-indent:-9999px;
}

/*서브네비*/

.nav{
    background:#f7f7f7;
    height:75px;
}
.sub_nav{
    line-height:75px;
}
.sub_nav li{
    font-size:14px;
    float: left;
    background:url(../images/sub/ico_arrow2.png) no-repeat right center;
    padding-right:80px;
}
.sub_nav li:last-child{
    background:none;
    margin-left:80px;
}
.sub_nav li a{}

/*서브메뉴*/

.cate_bg{
    background:url(../images/sub/bg_flower.png) no-repeat left bottom; 
}
.cate_bg h2{
    text-align: center;
    font-size:38px;
    letter-spacing:15px;
    text-align:center;
    margin:100px 0;
}

.cate{
    width:934px;
    margin:0 auto;
}
.cate li{
    float:left;
    width:467px;
    height:479px;
    text-align: center;
    position:relative;
}
.txt{
    background:#f9f9f9;
    padding:160px 80px;
    box-sizing: border-box;
}
.txt h3{
    font-size:25px;
    font-weight: 400;
    padding-bottom:40px;
}
.txt p{
    font-size:18px;
    font-weight: normal;
}

.link{
    background:url(../images/sub/pro_01.png) no-repeat;
    position: relative;
}
.link a{
    display: block;
    height:100%;
    background-position:left;
    transition:all 0.5s;
}
.link a h4{
    color:#7e2222;
    font-weight:400;
    padding-top: 60px;
}
.link a p{
    position: absolute;
    bottom:20px;
    right:20px;
    background:url(../images/sub/ico_plus.png) no-repeat right center;
    padding-right:20px;
}


.link:hover a{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    background-image:url(../images/ico_b_arrow.png);
    background-repeat:no-repeat;
    background-position:center;
}
/*서브메뉴_반대*/


.link_rot{
    background:url(../images/sub/pro_02.png) no-repeat;
}
.link_rot a{
    display: block;
    height:100%;
}
.link_rot a h4{
    color:#7e2222;
    font-weight:400;
    padding-top: 60px;
}
.link_rot a p{
    position: absolute;
    bottom:20px;
    right:20px;
    background:url(../images/sub/ico_plus.png) no-repeat right center;
    padding-right:20px;
}

.txt_rot{
    background:#f9f9f9;
    padding:160px 100px;
    box-sizing: border-box;
}
.txt_rot h3{
    font-size:30px;
    font-weight: 400;
    padding-bottom:40px;
}
.txt_rot p{
    font-size:20px;
    font-weight: normal;
}

.link02{
    background:url(../images/sub/pro_02.png);
}
.link03{
    background:url(../images/sub/pro_03.png);
}
.link04{
    background:url(../images/sub/pro_04.png);
}

